<configuration>
    <appender name="jsonAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"service":"flash-sale-order-service"}</customFields>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="jsonAppender"/>
    </root>
    <logger name="org.apache.kafka" level="WARN"/>
    <logger name="org.springframework.kafka" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.springframework.data" level="WARN"/>
</configuration>
